
  <!--Navigation bar-->
  <nav id="nav1" class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">
      <img id="wacodisLogo" class="img-responsive" src="assets/wacodisLogo_trans.png" alt="">
    </a>
    <ul class="navbar-nav">
<!--Button 'Job Übersicht'-->
      <li routerLinkActive="active"
        >
        <a
          class="nav-link"
          routerLink="/jobs">
          Jobs Übersicht
        </a>
<!--Button 'Job anlegen'-->
      </li>
      <li routerLinkActive="active"
        >
        <a
          class="nav-link"
          routerLink="/newJob">
            Job anlegen
        </a>

      </li>
    </ul>
  </nav>
