
  <!--Navigation bar-->
  <nav id="nav1" class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">
      <img id="wacodisLogo" class="img-responsive" src="assets/wacodisLogo_trans.png" alt="">
    </a>
    <ul class="navbar-nav">
<!--Button 'Job Übersicht'-->
      <li
        >
        <a
          class="nav-link"
          routerLink="/jobs">
          <button
            type="button"
            class="btn btn-outline-secondary"
          >Jobs Übersicht</button>
        </a>
<!--Button 'Job anlegen'-->
      </li>
      <li
        >
        <a
          class="nav-link"
          routerLink="/newJob">
          <button
            type="button"
            class="btn btn-outline-secondary"
            >Job anlegen
          </button>
        </a>

      </li>
    </ul>
  </nav>
