<!-- <h6 style="color: #4d80bc;">Statisches Subset</h6> -->


<form>
  <div class="form-group">
    <label for="value">Wert</label>
    <input
      style="max-width: 300px;"
      class="form-control"
      id="value"
      placeholder=""
      ngModel
      name="value"
      required
    />
  </div>

  <!---->
  <div class="form-group">
    <label class="my-1 mr-2" for="formCustomSelectPref">Datentyp</label>
    <select
      class="form-control"
      id="formCustomSelectPref"
      style="max-width: 300px;"
      ngModel
      name="datatyp"
      required
    >
      <option selected></option>
      <option value="text">Text</option>
      <option value="numeric">numerisch</option>
    </select>
  </div>
</form>
