<br />
<h2 align="center">Jobs Übersicht</h2>
<br>
<div class="wrapper">
<div class="row">
  <!--job list-->
  <div  class="col-md-12">
    <app-job-list
      (selectedJobElement)="selectedJobItem = $event"
    ></app-job-list>
  </div>
</div>
</div>

  <!--job details-->
<!--   <div >
    <div>
    <app-job-details
      *ngIf="selectedJobItem; else infoText"
      [job]="selectedJobItem"
    ></app-job-details>
    <ng-template #infoText>
      <p>
        Click 'Details' to see more information
      </p>
    </ng-template>
  </div>
  </div> -->

