<div class="container" style="margin-top: 20px;">
  <div style="margin-bottom: 20px;">
    <h4 align="center" >Job anlegen</h4>
  </div>
  <form>
<!--Processing tool-->
    <div class="form-group">
      <label class="my-1 mr-2" for="formCustomSelectPref">Werkzeug</label>
      <select class="form-control" id="formCustomSelectPref" style="max-width:300px;">
        <option selected></option>
        <option value="1">Forest vitality change</option>
        <option value="2">Land cover classification</option>
        <option value="3">Sealing factor</option>
        <option value="4">LAI</option>
        <option value="4">NDVI</option>
        <option value="5">NDWI</option>
      </select>
    </div>
<!-- Job name -->
    <div class="form-group">
      <label for="inputName">Jobname</label>
      <input
        style="max-width:300px;"
        class="form-control"
        id="inputName"
        placeholder="">
      <!-- <small id="Help" class="form-text text-muted">CronJobScheduler</small> -->
    </div>
<!-- Job description-->
    <div class="form-group">
      <label for="inputDescription">Jobbeschreibung</label>
      <textarea
        style="max-width:300px;"
        class="form-control"
        id="inputDescription"
        rows="3"></textarea>
    </div>
<!-- max Cloud coverage -->
      <div class="form-group">
        <label for="cloudCoverage">maximale Wolkenbedeckung</label>
        <input
          style="max-width:300px;"
          type="number"
          min="0"
          max="100"
          oninput="validity.valid||(value='');"
          id="amount"
          class="form-control"
          #amountInput>
      </div>
<!-- Job name -->
      <div class="form-group">
        <label for="observationExtent">Gib die Koordinaten des Observationsgebiets ein, oder ...</label>
        <input
          style="max-width:300px;"
          class="form-control"
          id="inputName"
          placeholder="">
        <small id="Help" class="form-text text-muted">Eingabereihenfolge: min Longitude, min Latitude, max Longitude, max Latitude, z.B. 7.1179, 51.2407, 7.2527, 51.2884 </small>
      </div>

<!-- Map -->
      <div class="form-group">
        <label for="leafletmap"
        > ... selektiere das Observationsgebiet</label>
        <app-leaflet-map></app-leaflet-map>
      </div>

<!--Ausführungsintervall (als cronjob)-->
      <div class="form-group">
        <label for="pattern">Ausführungsintervall als Cronjob</label>
        <input
          style="max-width:300px;"
          class="form-control"
          id="inputName"
          placeholder="">
        <small id="Help" class="form-text text-muted"> Wie du einen Cronjob angibst findest du hier:
          <a href="https://crontab.guru/">https://crontab.guru/</a>
          . Zum Beispiel 5 0 * 8 * (um 00:05 Uhr im August)
        </small>
      </div>
  </form>

<!--Submit button-->
  <button
    type="button"
    class="btn btn-primary"
    style="margin: 5px;"
    (click) = onSubmit()>
    Job erstellen
  </button>

</div>


