input.ng-invalid.ng-touched {
  border: 1px solid red
}

select.ng-invalid.ng-touched {
  border: 1px solid red
}

::ng-deep .card {
  margin-bottom: 10px;

}

::ng-deep .card-header {
  background-color:  #e3ecf6;
}

::ng-deep .card-header.title {
  color: black;
}

label {
  font-weight: bold;

}

b {
  color:#4D80BD ;
}


/* .container{
  padding-top: 100px;
} */

