<div class="container" style="margin-top: 20px;">
  <br />
  <h2 align="center">Job anlegen</h2>
  <form (ngSubmit)="onSubmitJob()" #f="ngForm">
    <!-- Job name -->
    <div class="form-group">
      <label for="inputName">Jobname</label>
      <input
        style="max-width: 350px;"
        class="form-control"
        id="jobName"
        placeholder=""
        ngModel
        name="jobName"
        required
        #jobName="ngModel"
      />
      <!--       <span class="help-block" style="color: red; font-size: small;" *ngIf="!jobName.valid && jobName.touched"
        >Bitte gib einen Jobnamen an</span
      > -->
    </div>
    <!-- Coordinates -->
    <div class="form-group">
      <label for="observationExtent">Koordinaten des Observationsgebiets</label>
      <input
        style="max-width: 350px;"
        class="form-control"
        id="inputName"
        placeholder=" z.B.  7.1179, 51.2407, 7.2527, 51.2884"
        ngModel
        name="extent"
        ngModel
        required
      />
      <small id="Help" class="form-text text-muted"
        >Eingabereihenfolge: min Longitude, min Latitude, max Longitude, max
        Latitude
      </small>
    </div>
    <!--Processing tool-->
    <div class="form-group">
      <label class="my-1 mr-2" for="tool">Produkt</label>
      <select
        class="form-control"
        id="formCustomSelectPref"
        style="max-width: 350px;"
        [(ngModel)]="selectedProcessingTool"
        name="processingTool"
        required
      >
        <option selected></option>
        <option
          *ngFor="let process of processMappings"
          [value]="process.processId"
          >{{ process.name }}</option
        >
      </select>
    </div>
    <!-- Data subsets ; dynamically set as depending on the choice of the Processing tool -->
    <div class="form-group">
      <div *ngFor="let process of processMappings">
        <div *ngIf="process.processId === selectedProcessingTool">
          <p style="color: red;">Definiere die Eingabedaten</p>
          <div *ngFor="let input of process.inputs; let i = index">
            <ngb-accordion
              #acc="ngbAccordion"
              activeIds="ngb-panel-0"
            >
              <ngb-panel title="{{ input.inputType }}">
                <ng-template ngbPanelContent>
                  <app-static-subset
                    [index]="i"
                    [defaultProcessID]="input.processInputId"
                    *ngIf="
                      input.inputType == 'StaticSubsetDefinition';
                      else copernicus
                    "
                  ></app-static-subset>
                </ng-template>
                <ng-template #copernicus>
                  <app-copernicus-subset
                    [index]="i"
                    [defaultProcessID]="input.processInputId"
                  ></app-copernicus-subset>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- Job description-->
    <div class="form-group">
      <label for="jobDescription"
        >Jobbeschreibung <span style="color: gray;">optional</span></label
      >
      <textarea
        style="max-width: 350px;"
        class="form-control"
        id="jobDescription"
        rows="3"
        ngModel
        name="jobDescription"
      ></textarea>
    </div>
    <!-- Use case-->
    <div class="form-group">
      <label for="useCase"
        >Verwendungszweck <span style="color: gray;">optional</span>
      </label>
      <textarea
        style="max-width: 350px;"
        class="form-control"
        id="useCase"
        rows="2"
        ngModel
        name="useCase"
      ></textarea>
    </div>

    <!--TODO Explain both input fields-->

    <!--Cronjob-->
    <br />
    <br />
    <h4 style="color: #4d80bd;">Diesen Job planen</h4>
    <p style="color: dimgray;">
      Die folgenden Angaben werden benötigt, um den Prozess mehrfach in
      bestimmten Abständen oder zu bestimmten Tages-/Wochen-/... zeiten
      automatisch auszuführen. Ohne diese Angaben wird der Job einmal sofort
      nach klicken auf den 'Abschicken'-Knopf ausgeführt.
    </p>
    <br />
    <div class="form-group">
      <label for="pattern">Ausführungsmoment als Cronjob</label>
      <input
        style="max-width: 350px;"
        class="form-control"
        id="pattern"
        placeholder="z.B.   5 0 * 8 *"
        ngModel
        name="pattern"
      />
      <small id="Help" class="form-text text-muted">
        Wie du einen Cronjob angibst findest du hier:
        <a href="https://crontab.guru/">crontab guru</a>
      </small>
    </div>
    <!-- Temporal Coverage: Duration -->
    <div class="form-group">
      <label for="duration">Zeitabdeckung</label>
      <input
        style="max-width: 350px;"
        class="form-control"
        id="duration"
        placeholder="z.B. P3D"
        ngModel
        name="duration"
        #duration="ngModel"
      />
      <small id="Help" class="form-text text-muted">
        Das Format der Angabe der Dauer entspricht dem ISO 8601 Format. Wie du
        die Dauer angibst findest du hier:
        <a href="https://en.wikipedia.org/wiki/ISO_8601#Durations">ISO8601</a>
      </small>
      <!--       <span class="help-block" style="color: red; font-size: small;" *ngIf="!jobName.valid && jobName.touched"
            >Bitte gib einen Jobnamen an</span
          > -->
    </div>



    <!--Submit button-->
    <br />
    <br />
    <button
      type="button submit"
      class="btn btn-primary"
      style="margin: 5px;"
      style="border-color: #e3ecf6; color: #e3ecf6; background-color: #4d80bd;"
    >
      Abschicken
    </button>
  </form>
</div>
<br />

<!--Show form object as json -->
<pre>{{ f.value | json }}</pre>



<!-- ---------------------------------------------------------------------------------- -->

    <!-- Map -->
    <!-- <div class="form-group">
        <label for="leafletmap"
        > ... selektiere das Observationsgebiet</label>
        <app-leaflet-map></app-leaflet-map>
      </div> -->
