<div class="card" style="margin-bottom: 10px;">
  <div class="card-header">
    <h4>{{ job.name }}</h4>
  </div>
  <div style="padding: 10px;" class="card-body">
    <p class="card-text">Beschreibung: {{ job.description }}</p>
    <p class="card-text">
      <small class="text-muted">Erstellt: {{ job.created }}</small>
    </p>
    <div class="row">
      <div class="col-10">
<!--Details button-->
        <!-- <button
          style="margin: 5px;"
          type="button"
          class="btn btn-outline-dark"
          (click)="onSelected()"
        >
          Details
        </button> -->

   <!--Toggle Button-->

    <button
      type="button"
      style="margin: 5px;"
      class="btn btn-outline-dark"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Details
    </button>



        <!--Edit button-->
        <button
          style="margin: 5px;"
          type="button"
          class="btn btn-outline-primary"
        >
          <svg
            class="bi bi-pencil"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>

      <div class="col-2">
        <!--Delete button-->
        <button
          style="margin: 5px;"
          type="button"
          (click)="onDelete()"
          class="btn btn-outline-danger float-right"
        >
          <svg
            class="bi bi-trash"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>

    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card border-0">
        <div class="card-body">
          <div>
            <hr>
            <p>
              <b>Jobname:</b> <br />
              {{ job.name }}
            </p>
            <p>
              <b>Observationsgebiet (Koordinatenangabe in EPSG:4326)</b> <br />
              {{ job.areaOfInterest.extent }}
            </p>
            <p *ngIf="job.description">
              <b> Beschreibung</b> <br />{{ job.description }}
            </p>
            <p *ngIf="job.useCase">
              <b>Anwendungsfall</b> <br />{{ job.useCase }}
            </p>
            <p><b>Status</b> <br />{{ job.status }}</p>
            <p>
              <b>Inputs</b> <br />
              {{ job.inputs }}
            </p>
            <p *ngIf="job.execution.pattern">
              <b>Ausführungsintervall (cron Format)</b><br />{{
                job.execution.pattern
              }}
            </p>
            <p *ngIf="job.temporalCoverage.duration">
              <b>zeitliche Abdeckung (ISO8601 Format)</b> <br />{{
                job.temporalCoverage.duration
              }}
            </p>

            <!-- <p>Maximale Wolkenbedeckung: {{job.maximumCloudCoverage}}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
